# HW1 practice

## imports

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path

## Config

In [2]:
root_data_path = Path("../data")

data_path = root_data_path / "nasdaq.csv"
result_path = root_data_path / "s1.csv"

## Load

In [3]:
data = pd.read_csv("data/nasdaq.csv",parse_dates=["Date"])
# data["Date"] = pd.to_datetime(data["Date"])

In [14]:
data_np = np.loadtxt(data_path, delimiter=",", skiprows=1, dtype=object)

## Save

In [10]:
data.to_csv(result_path)

In [18]:
np.savetxt(result_path, data_np, fmt="%s", delimiter=",")

## pandas to numpy

In [19]:
data_np = data.to_numpy()

## min, max

In [4]:
data.max()

Date         2013-10-17 00:00:00
Open                 3822.850098
High                  3863.48999
Low                  3821.429932
Close                3863.149902
Adj Close            3863.149902
Volume                2711270000
dtype: object

In [5]:
data.min()

Date         2013-09-09 00:00:00
Open                 3675.120117
High                 3702.149902
Low                  3650.030029
Close                3677.780029
Adj Close            3677.780029
Volume                1338800000
dtype: object

## Create new column

In [6]:
data["new"] = data["Close"] - data["Open"]

## Sum, Substract, Multiply, devide

In [7]:
data["Close"] - data["Open"]

0     31.059815
1      4.350098
2     14.219971
3     -8.560058
4     -1.090088
5    -37.149902
6     20.389892
7     32.349854
8     -5.320068
9    -21.550049
10   -21.550049
11    -3.350098
12   -11.489990
13    12.479981
14    13.700195
15    33.879882
16    43.800048
17    21.909913
18   -35.559814
19    33.030029
20    -6.260010
21   -77.389893
22   -23.840088
23    39.169922
24    38.650146
25    47.790039
26   -16.709961
27    24.429932
28    40.299804
dtype: float64

In [8]:
data["Close"] + data["Open"]

0     7381.300049
1     7453.689942
2     7435.800049
3     7440.500000
4     7445.449952
5     7472.850098
6     7471.010010
7     7534.929932
8     7584.079834
9     7571.010009
10    7552.130127
11    7539.850098
12    7533.690186
13    7562.379883
14    7549.479981
15    7509.080078
16    7592.159912
17    7608.130127
18    7584.239990
19    7582.469971
20    7547.019776
21    7467.050049
22    7379.400146
23    7482.330078
24    7545.090088
25    7582.770019
26    7604.729981
27    7654.429932
28    7686.000000
dtype: float64

In [9]:
data["Close"] * data["Open"]

0     1.362066e+07
1     1.388937e+07
2     1.382273e+07
3     1.384024e+07
4     1.385868e+07
5     1.396053e+07
6     1.395389e+07
7     1.419353e+07
8     1.437956e+07
9     1.432993e+07
10    1.425855e+07
11    1.421233e+07
12    1.418909e+07
13    1.429736e+07
14    1.424862e+07
15    1.409628e+07
16    1.440974e+07
17    1.447079e+07
18    1.437986e+07
19    1.437319e+07
20    1.423937e+07
21    1.393771e+07
22    1.361374e+07
23    1.399593e+07
24    1.423172e+07
25    1.437403e+07
26    1.445791e+07
27    1.464743e+07
28    1.476824e+07
dtype: float64

In [10]:
data["Close"] / data["Open"]

0     1.008451
1     1.001168
2     1.003832
3     0.997702
4     0.999707
5     0.990107
6     1.005473
7     1.008624
8     0.998598
9     0.994323
10    0.994309
11    0.999112
12    0.996954
13    1.003306
14    1.003636
15    1.009065
16    1.011605
17    1.005776
18    0.990666
19    1.008750
20    0.998342
21    0.979484
22    0.993560
23    1.010525
24    1.010298
25    1.012685
26    0.995615
27    1.006404
28    1.010542
dtype: float64

## Filtering data

In [14]:
data[data["Date"] > "2013-10"]

,Date,Open,High,Low,Close,Adj Close,Volume,new
17,2013-10-02,3793.110107,3819.280029,3788.449951,3815.020020,3815.020020,1792980000,21.909913
18,2013-10-03,3809.899902,3816.959961,3753.169922,3774.340088,3774.340088,1884340000,-35.559814
19,2013-10-04,3774.719971,3812.860107,3773.399902,3807.750000,3807.750000,1549600000,33.030029
20,2013-10-07,3776.639893,3800.080078,3769.750000,3770.379883,3770.379883,1475990000,-6.260010
21,2013-10-08,3772.219971,3772.489990,3694.149902,3694.830078,3694.830078,2087580000,-77.389893
22,2013-10-09,3701.620117,3702.149902,3650.030029,3677.780029,3677.780029,2242700000,-23.840088
23,2013-10-10,3721.580078,3764.719971,3721.110107,3760.750000,3760.750000,1902410000,39.169922
24,2013-10-11,3753.219971,3794.370117,3751.379883,3791.870117,3791.870117,1750350000,38.650146
25,2013-10-14,3767.489990,3816.409912,3766.280029,3815.280029,3815.280029,1455160000,47.790039
26,2013-10-15,3810.719971,3824.439941,3789.679932,3794.010010,3794.010010,1745560000,-16.709961
27,2013-10-16,3815.000000,3840.479980,3814.149902,3839.429932,3839.429932,1744000000,24.429932
28,2013-10-17,3822.850098,3863.489990,3821.429932,3863.149902,3863.149902,1975140000,40.299804